/* Sidebar */
.menu-content {
    padding-top: 12px;
  }
  
  /* Operation cards */
  .operation-summary {
    font-weight: 500;
  }
  
  /* Headings */
  .api-content h1 {
    margin-top: 32px;
  }
  
  /* Test indicator (remove later) */
  body {
    outline: 3px solid transparent;
  }
  